.container
    .row
        .col-md-7
            .row
                .col-md-4.col-sm-3.hidden-xs
                    .jumbotron.nomargin.nopadding.img
                        img(src= "/profile2.jpg",width="100%").round
                .col-md-8.col-sm-9
                    .jumbotron.nomargin.lesspadding
                        h2 Hi. I'm Jack Kleeman.
                        |A VC with an interest in distributed systems, security, reliability and tooling.
                        br
                        |Always happy to talk to engineers and founders
            .jumbotron.nomargin.lesspadding
                h2 Projects
                h4 Code
                |#[a(href="https://github.com/monzo/egress-operator") egress-operator], a Kubernetes operator which helps to control traffic leaving your platform using ephemeral #[a(href="https://www.envoyproxy.io/") Envoy] gateways.
                br
                |#[a(href="https://github.com/monzo/calico-accountant") calico-accountant], a prometheus exporter for the #[a(href="https://www.projectcalico.org/") Calico] data path. Keeps track of the numbers of packets accepted and dropped by policies.
                br
                |#[a(href="https://github.com/monzo/envoy-preflight") envoy-preflight], a solution for the sequencing issues presented when running #[a(href="https://www.envoyproxy.io/") Envoy] as a Kubernetes sidecar container.
                br
                |#[a(href="https://github.com/jackkleeman/stellar-stripe-anchor") stellar-stripe-anchor], an end-to-end solution for running a USD #[a(href="https://www.stellar.org/") Stellar] anchor using Stripe for payments.
                h4 Media
                |#[a(href="https://youtu.be/kVhSbHoBSH0") KubeCon: Network Isolation For 1500 Microservices]
                br
                |#[a(href="https://monzo.com/blog/controlling-outbound-traffic-from-kubernetes") Controlling outbound traffic from Kubernetes]
                br
                |#[a(href="https://monzo.com/blog/we-secured-thousands-of-cassandra-clients-to-keep-monzos-data-safe") We secured thousands of Cassandra clients to keep Monzo&apos;s data safe]
                br
                |#[a(href="https://monzo.com/blog/migrating-vaults-storage-with-no-downtime") We migrated Vault&apos;s storage with no downtime]
                br
                |#[a(href="https://monzo.com/blog/we-built-network-isolation-for-1-500-services") We built network isolation for 1500 services]
                br
                |#[a(href="https://monzo.com/blog/2019/10/11/how-our-security-team-handle-secrets") How our security team handles secrets]
                br
                |#[a(href="https://monzo.com/blog/2019/03/19/improving-our-staff-VPN") How we improved our staff VPN]
        .col-md-5
            .jumbotron.nomargin.lesspadding.hidden-md.hidden-sm.hidden-xs.lesspadding
                include /_partials/credentials.jade
            .jumbotron.nomargin.hidden-lg.lesspadding
                include /_partials/credentials.jade
            .jumbotron.nomargin.lesspadding
                h2 Contact
                h4 email me #[a(href="mailto:jack.kleeman@indexventures.com") jack.kleeman@indexventures.com]
                h4 connect with me on #[a(href="https://uk.linkedin.com/in/jackkleeman") linkedin]
                h4 download my #[a(href="/jackkleemancv.pdf") cv]

            .jumbotron.nomargin.tinypadding.a
                | #[a(href="https://github.com/jackkleeman/jackkleeman.github.io") CV made with love by me in Jade and LESS.]
