.container
    .row
        .col-md-7
            .row
                .col-md-4.col-sm-3.hidden-xs
                    .jumbotron.nomargin.nopadding.img
                        img(src= "/profile2.jpg",width="100%").round
                .col-md-8.col-sm-9
                    .jumbotron.nomargin.lesspadding
                        h2 Hi. I'm Jack Kleeman.
                        |A (backend|platform) engineer with a strong interest in distributed systems, security, reliability and tooling.
                        br
                        |Open to new connections, but happily employed for now.
            .jumbotron.nomargin
                h2 Projects
                h4 Creator
                |#[a(href="https://github.com/monzo/calico-accountant") calico-accountant], a prometheus exporter for the #[a(href="https://www.projectcalico.org/") Calico] data path. Keeps track of the numbers of packets accepted and dropped by policies.
                br
                |#[a(href="https://github.com/monzo/envoy-preflight") envoy-preflight], a solution for the sequencing issues presented when running #[a(href="https://www.envoyproxy.io/") Envoy] as a Kubernetes sidecar container. Ensures that Envoy starts before your application, and dies when it's finished.
                br
                |#[a(href="https://github.com/jackkleeman/stellar-stripe-anchor") stellar-stripe-anchor], an end-to-end solution for running a USD #[a(href="https://www.stellar.org/") Stellar] anchor using Stripe for payments.
                br
                |#[a(href="https://github.com/jayelm/bad-flamingo") Bad Flamingo], a game which asks humans to draw images that other humans can recognise, but a neural network can't. This provides an adversarial training set. First place in Hack Cambridge 2018.
                h4 Writeups
                |#[a(href="https://monzo.com/blog/2019/10/11/how-our-security-team-handle-secrets") How our security team handles secrets]
                br
                |#[a(href="https://monzo.com/blog/2019/03/19/improving-our-staff-VPN") How we improved our staff VPN]
                br
                |#[a(href="https://monzo.com/blog/2019/03/06/engineering-with-no-degree") Do you need a computer science degree to become a software engineer?]
                br
                |#[a(href="https://monzo.com/blog/2018/11/29/refactoring-old-code") The Refactathon: Cleaning up old code]
        .col-md-5
            .jumbotron.nomargin.lesspadding.hidden-md.hidden-sm.hidden-xs
                include /_partials/credentials.jade
            .jumbotron.nomargin.hidden-lg
                include /_partials/credentials.jade
            .jumbotron.nomargin
                h2 Contact
                h4 email me #[a(href="mailto:cv@kleeman.dev") cv@kleeman.dev]
                h4 connect with me on #[a(href="https://uk.linkedin.com/in/jackkleeman") linkedin]
                h4 download my #[a(href="/jackkleemancv.pdf") cv]

            .jumbotron.nomargin.tinypadding.a
                | #[a(href="https://github.com/jackkleeman/jackkleeman.github.io") CV made with love by me in Jade and LESS.]
