.container
    .row
        .col-md-7
            .row
                .col-md-4.col-sm-3.hidden-xs
                    .jumbotron.nomargin.nopadding.img
                        img(src= "/profile.jpg",width="100%").round
                .col-md-8.col-sm-9
                    .jumbotron.nomargin.lesspadding
                        h2 Hi. I'm Jack Kleeman. 
                        |An Economics student with a strong interest in technology, data, economic policy, and the intersections between the three.
                        br
                        |Always looking for new projects, internships, and connections.
            .jumbotron.nomargin
                h2 Projects
                |#[a(href="https://github.com/tobiasbueschel/Live-London",target="_blank") LiveLondon], an app that advises you on the best place to rent in London, using machine learning and statistics. First place in the 2016 Microsoft Data Science Student Challenge.
                br
                |#[a(href="http://devpost.com/software/anonreport-zvqnaf") aNonreport], a protocol to anonymously report information to humans rights organisations. Designed with end-to-end encryption, decentralisation, and total transparency. Began at HackUPC 2016.
        .col-md-5
            .jumbotron.nomargin.lesspadding.hidden-md.hidden-sm.hidden-xs
                include /_partials/credentials.jade
            .jumbotron.nomargin.hidden-lg
                include /_partials/credentials.jade
            .jumbotron.nomargin
                h2 Contact
                h4 email me #[a(href="mailto:jackkleeman+cv@gmail.com") jackkleeman+cv@gmail.com]
                h4 connect with me on #[a(href="http://uk.linkedin.com/in/jackkleeman") linkedin]     
                h4 download my #[a(href="/jackkleemancv.pdf") cv]

            .jumbotron.nomargin.tinypadding.a
                | #[a(href="https://github.com/jackkleeman/jackkleeman.github.io") CV made with love by me in Jade and LESS, using Harp.]
           