h2 Credentials
p.font
    |Economics graduate, <strong>Cambridge University</strong>.
    br
    |<strong>SRE</strong> at Apple.
    br
    |Programmer working best in <strong>Go</strong>.
    br
    |<strong>Platform Engineer</strong> with a passion for Kubernetes and Envoy.
