h2 Credentials
p.font
    |First year Economics undergraduate at <strong>Cambridge University</strong>
    br
    |Strong and varying work experience, including a four week internship at <strong>the Bank of England</strong>
    br
    |<strong>Programmer</strong> with experience in Java, Python, Javascript and R 