h2 Credentials
p.font
    |Second year Economics undergraduate at <strong>Cambridge University</strong>.
    br
    |Part-time tech at <strong>#[a(href="https://duosear.ch") Duo]</strong>
    br
    |<strong>Programmer</strong> with experience in Java, Go, Python, Javascript and R - I work best in Go.
    br
    |Fast-learning <strong>Backend Engineer</strong>, happy to work with distributed systems and realtime applications.
    br
    |<strong>Web Developer</strong> with strong competency in HTML and CSS