h2 Credentials
p.font
    |Economics graduate, <strong>Cambridge University</strong>.
    br
    |Engineer at #[a(href="https://restate.dev") Restate]</strong>.
    br
    |Programmer working best in <strong>Go and Rust</strong>.
    br
    |<strong>SRE</strong> with a passion for Kubernetes and Envoy.
