h2 Credentials
p.font
    |Second year Economics undergraduate at <strong>Cambridge University</strong>.
    br
    | Part-time tech at <strong>#[a(href="http://everledger.io") Everledger]</strong> and <strong>#[a(href="https://duosear.ch") Duo Search]</strong>
    br
    |<strong>Programmer</strong> with experience in Java, Go, Python, Javascript and R - I work best in Go.
    br
    |<strong>Web Developer</strong> with strong competency in HTML and CSS