h2 Credentials
p.font
    |Economics graduate, <strong>Cambridge University</strong>.
    br
    |Principal at <strong>Index Ventures</strong>.
    br
    |Programmer working best in <strong>Go</strong>.
    br
    |<strong>SRE</strong> with a passion for Kubernetes and Envoy.
