h2 Credentials
p.font
    |Economics graduate, <strong>Cambridge University</strong>.
    br
    |<strong>Backend Engineer</strong> at #[a(href="https://monzo.com") Monzo]
    br
    |<strong>Programmer</strong> with experience in Go, Python and Javascript- I work best in Go and Javascript.