h2 Credentials
p.font
    |Economics graduate, <strong>Cambridge University</strong>.
    br
    |<strong>Platform Security</strong> at #[a(href="https://monzo.com") Monzo].
    br
    |Programmer working best in <strong>Go and Javascript</strong>.
    br
    |<strong>Platform Engineer</strong> comfortable with using Terraform and Puppet to manage Envoy, Vault and self-hosted Kubernetes.