h2 Credentials
p.font
    |Second year Economics undergraduate at <strong>Cambridge University</strong> and part-time tech at <strong>#[a(href="http://everledger.io") Everledger]</strong>
    br
    |Strong and varying work experience, including ten weeks at <strong>the Bank of England</strong>
    br
    |<strong>Programmer</strong> with experience in Java, Go, Python, Javascript and R
    br
    |<strong>Web Developer</strong> with strong competency in HTML and CSS